# 변수

In [2]:
12340 * 1/2

6170.0

In [3]:
abc=12340

In [6]:
type(abc)

int

In [8]:
print(abc * 1/2)

6170.0

In [10]:
print(abc * 1/4)

3085.0

In [11]:
print(abc * 1/5)

2468.0

# 문자열

In [13]:
print("String Test")

String Test

In [15]:
string1="String Test 1"
string2='String Test 2'

print(string1)
print(string2)

String Test 1
String Test 2

In [17]:
print(type(string1))
print(type(string2))

<class 'str'>
<class 'str'>

In [20]:
string3='This is a "double" quotation test'
string4="This is a 'single' quotation test"
print(string3)
print(string4)

This is a "double" quotation test
This is a 'single' quotation test

In [25]:
long_String1='''[삼중 작은 따옴표를 사용한 예]
파이썬 에서는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴(")와 작은 따옴표도(')도 입력할 수 있다.'''


long_String2="""[삼중 작은 따옴표를 사용한 예]
파이썬 에서는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴(")와 작은 따옴표도(')도 입력할 수 있다."""

print(long_String1)
print(long_String2)

'''첫줄 주석'''

[삼중 작은 따옴표를 사용한 예]
파이썬 에서는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴(")와 작은 따옴표도(')도 입력할 수 있다.
[삼중 작은 따옴표를 사용한 예]
파이썬 에서는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴(")와 작은 따옴표도(')도 입력할 수 있다.

'첫줄 주석'

# 문자열다루기

In [28]:
a ='Enjoy '
b = 'python!'

c = a+b

print(c)

Enjoy python!

# list

In [30]:
student1=[90,95,85,80]
type(student1)

list

In [32]:
print(student1)

[90, 95, 85, 80]

In [34]:
print(student1[0])

90

In [35]:
print(student1[2])

85

In [37]:
print(student1[-1])

80

In [38]:
print(student1[-2])

85

In [66]:
#1
pin = '881120-1068234'
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

In [75]:
#2
pin = "881120-1068234"
print(pin[7:8])

1

In [74]:
#3
a = [1,3,5,4,2]
a.sort(reverse=True)
print(a)

[5, 4, 3, 2, 1]

In [73]:
#4
a = ['Life','is','too','short']
print(' '.join(a))

Life is too short

In [78]:
#5
a = (1, 2, 3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [67]:
#7
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [80]:
#8
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [79]:
#9
a = b = [1, 2, 3]
a[1] = 4
print(a)
print(b)

[1, 4, 3]
[1, 4, 3]

# 동일한 List를 지정하고 있기 때문